/* CUIDADO, REEMPLAZAR URL*/
@import url('http://localhost/WebINGEO2Loader/styles/msg.css');

html, body {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}
.tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tab, .pertab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    cursor: pointer;
}
.pertab > button {
    margin: 4px;
}
.tab.selected, .pertab.selected {
    opacity: 1;
    border-bottom: 4px lightblue solid;
}

.pertab > button {
    margin: 4px;
}

.tabContent {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}

.tabContent.selected {
    display: flex;
}
input {
    font-size: large;
    margin: 16px 0;
    width: 100%;
    max-width: 100%;
}

input[type='checkbox'] {
    width:30px;
    height:30px;
}

button {
    width: 100%;
    min-height: 50px;
    font-size: larger;
    border: none;
    border-radius: 10px;
    background-color: green; 
    color: #fff; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

button:active {
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

button:focus {
    outline: none;
}
table {
    width: 100%;
}

table, th, td {
    border-bottom: 2px darkgrey solid;
    border-collapse: collapse;
}

.delTd {
    width: 10%;
}

td > button {
    background-color: red !important;
}

p {
    text-align: justify;
}

.inputDiv {
    display: flex; 
    flex-direction: row; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}


@media (min-width: 768px) {
    .tabContent {
        width: 50%;
    }
}