@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

.Msg {
    display: flex;
    position: fixed;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 0.3s;
}

.successMsg { 
    background-color: rgb(39, 149, 39);
}

.errorMsg {
    background-color: rgb(221, 18, 18);
}

.Msg > h1 {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    color: white;
}

.Msg.show {
    width: 30%;
    height: auto;
}

.Msg.show > h1 {
    display: flex;
    margin: 10px;
}

.MsgHolder {
    text-align: center;
}